*{
    font-family:arial,sans-serif;
    margin:0;
    padding:0;
}
body{
    background-color: rgba(236, 236, 236,0.75);
}
#navbar{
    background-color: white;
    height: 60px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 4px 3px -2px gray;
    border-radius: 15px;
    margin: 10px;
    font-weight: bold;
}
#logo{
    height: 50px;
    margin-left: 55px;
    margin-top: 5px;
    float: left;
    margin-right: 90px;
    border-radius: 20px;
}
.links{
    text-decoration: none;
    color: black;
    margin-right: 75px;
    line-height: 60px;
    float: left;
}
.form-container{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    width: 900px;
    height: 970px;
    margin: auto;
    margin-top: 85px;
    text-align: center;
    box-shadow: 0px 4px 2px -2px gray;
    border-radius: 15px;
}
#head1{
    font-weight: 750;
}
.inputs{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    box-shadow: 0px 4px 2px -2px gray;
    
}
.description{
    color:rgb(107, 107, 107);
    font-size: smaller;
}
#DOB{
    margin-top: 0px;
}
.head3{
    font-weight: 700;
}
#submit-button{
    background-color: rgb(11, 11, 11);
    color:aliceblue;
    font-weight: 800;
}
#footer{
    background-color: black;
    height: 100px;
    margin-top: 150px;
    text-align: right;
    color: white;
    padding-top: 40px;
    font-size: smaller;
}