*{
    font-family:arial,sans-serif;
    margin:0;
    padding:0;
}
body{
    background-color: rgba(236, 236, 236,0.75);
    background-image: url("kinya-jones-Il-TZZXX7aY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#navbar{
    background-color: white;
    height: 60px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 4px 3px -2px gray;
    border-radius: 15px;
    position: fixed;
    top:10px;
    left: 10px;
    right:10px;
    font-weight: bold;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
#logo{
    height: 50px;
    margin-left: 30px;
    margin-top: 5px;
    float: left;
    margin-right: 90px;
    border-radius: 20px;
}
.links{
    text-decoration: none;
    color: black;
    line-height: 60px;
    float: left;
}
.form-container{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    width: 900px;
    height: 1000px;
    margin: auto;
    margin-top: 85px;
    box-shadow: 0px 4px 2px -2px gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align:center;
}
#head1{
    font-weight: 750;
    text-align: center;
}
.inputs{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    box-shadow: 0px 4px 2px -2px gray;
    margin-left: 40px;
    text-align:center; 
}
.description{
    color:rgb(107, 107, 107);
    font-size: smaller;
    text-align: center;
}
#DOB{
    margin-top: 0px;
    margin-bottom: 0px;
}
.form-heads{
    font-weight: 700;
    margin-left: 40px;
}
#submit-button{
    background-color: rgb(11, 11, 11);
    color:aliceblue;
    font-weight: 800;
    margin-left: 310px;
    text-align: center;
}
#footer{
    background-image: url("school_logo.png");
    background-size: cover;
    height: 100px;
    margin-top: 150px;
    text-align: right;
    color: rgb(158, 157, 157);
    padding-top: 40px;
    font-size: smaller;
    bottom: 0;
    left: 0;
    right: 0;
}



